<div class="cart-container">
    <div class="cart-card">
        <div class="cart-item">
            <div class="cart-left-side">
                <img
                    [src]="cartItem.product.images[0]"
                    alt="{{ cartItem.product.name }}"
                />
                <div class="cart-card-details">
                    <h4>{{ cartItem.product.name }}</h4>
                    <p>${{ cartItem.product.price }}</p>
                    <div class="cart-card-actions">
                        <button class="btn-css qty-btn" (click)="decreaseQuantity()">-</button>
                        <span>{{ cartItem.quantity }}</span>
                        <button class="btn-css qty-btn" (click)="increaseQuantity()">+</button>
                    </div>
                </div>
            </div>
            <div class="cart-right-side">
                <div class="red-text-button">
                    {{
                        cartItem.quantity * cartItem.product.price
                            | currency : "INR"
                    }}
                </div>
                <div class="button-wrapper-cart">
                    <button class="common_Buttons btn-css">
                        <mat-icon  (click)="deleteItemFromCart()"
                            >delete</mat-icon
                        >
                    </button>
                    <button
                        class="common_Buttons btn-css"
                        (click)="moveToFavFromCart()"
                    >
                        Favourite
                    </button>
                    <button
                        class="common_Buttons btn-css"
                        (click)="moveToSaveForLater()"
                    >
                        Save For Later
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
