.signup-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../../../../../public/background.jpg") no-repeat left/cover;
}

.form-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: 30%;
    max-width: 100%;
    margin-right: 10%;
   background-color: #fff;
    h2 {
        text-align: center;
        color: #ff3f6c;
        margin-bottom: 50px;
        font-size: 30px;
    }
    label {
        font-weight: 500;
        font-size: 24px;
        color: #ff3f6c;
    }
    .form-links {
         display: flex;
        justify-content: space-between;
        margin-top: 20px;
        letter-spacing: 1px;
        a {
           color: #ff3f6c;
            text-decoration: underline;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid black;
}

input:focus-visible {
    outline: 1px solid #ff3f6c !important ;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff3f6c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
    color: black;
    font-weight: 700;
}

.form-links {
    margin-top: 12px;
    text-align: center;
}
.error {
    color: #bb2124;
    font-size: 14px;
}

.success {
    color: green;
    font-size: 14px;
}


@media (max-width: 768px) {
    .signup-container {
        background: url("../../../../../public/background.jpg") no-repeat
                cover;
        background-position-x: -400px;
    }
    .form-container {
        width: 60%;
        margin-right: 5%;
    }
}
@media (max-width: 425px) {
    .signup-container {
        background: url("../../../../../public/background.jpg") no-repeat cover;
        // background-position-x: -400px;
    }
    .form-container {
        width: 95%;
        margin-right: 5%;
        margin: auto;
    }
}
