/* General Reset */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 100vw;
    align-items: center;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.mobileView {
    display: none;
}

.navbar-links ul li a:hover {
    color: #ff3f6c;
}
.full-logo {
    display: inline;
}

.short-logo {
    display: none;
}

.navbar-search {
    flex: 1;
    margin: 0 20px;
    position: relative;
}

.navbar-search input {
    width: 100%;
    max-width: 400px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 400px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.search-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-dropdown .search-result {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-dropdown .search-result:hover {
    background: #f5f5f5;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-icons .cart mat-icon {
    font-size: 24px;
    color: #333;
}

.navbar-icons .login {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

.navbar-icons .login:hover {
    color: #ff3f6c;
}

.favorite-icon {
    color: red;
    font-size: 24px;
}

.navbar-icons .cart {
    position: relative;
    text-decoration: none;
}

.navbar-icons .cart img {
    width: 24px;
    height: 24px;
}

.navbar-icons .cart .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff3f6c;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.desktop-only {
    display: inline-block;
}

.avatar_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

::ng-deep.mat-mdc-menu-panel{
    background: #fff !important;
}
::ng-deep.mat-mdc-menu-content{
    padding: 0px !important;
}
::ng-deep.mat-mdc-menu-item{
    color: #ff3f6c !important;
    border-bottom: 2px solid #ff3f6c ;
}

::ng-deep.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text{
   font-size: 18px !important;
//    font-weight: 600;
}
/* Responsive Design */
// tab view
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        padding: 5px;
    }
    .hamburger {
        display: block; /* Show hamburger menu */
    }
    .navbar-search {
        margin: 10px 0;
        max-width: 300px;

        width: 100%;
    }
    .navbar-links ul {
        gap: 10px;
    }
    .navbar-links ul li a {
        font-size: 14px;
    }
    .navbar-icons {
        gap: 25px;
        margin: 5px;
    }
    .navbar-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    /* Show navbar links when menu is toggled */
    .navbar-links.mobile-menu {
        display: inline-block;
        text-align: left;
    }
    .navbar-links ul {
        flex-direction: column;
        padding: 0;
    }
    .navbar-links ul li {
        padding: 10px 20px;
    }
    /* Show hamburger icon in mobile view */
    .hamburger {
        display: block;
    }
    .desktop-only {
        display: none; /* Hide wishlist icon in navbar */
    }
    .mobileView {
        display: block;
    }
}

// mobile view
@media (max-width: 426px) {
    .avatar_img {
        width: 30px;
        height: 30px;
    }
    .navbar {
        flex-wrap: wrap;
        padding: 5px;
    }
    .hamburger {
        display: block; /* Show hamburger menu */
    }

    .navbar-search {
        margin: 10px 0;
        // order: 3;
        width: 100%;
    }

    .navbar-links ul {
        gap: 10px;
    }

    .navbar-links ul li a {
        font-size: 14px;
    }

    .full-logo {
        display: none; /* Hide full name in mobile */
    }

    .short-logo {
        display: inline; /* Show "M" in mobile */
    }

    .navbar-icons {
        gap: 15px;
        margin: 5px;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    /* Show navbar links when menu is toggled */
    .navbar-links.mobile-menu {
        display: inline-block;
        text-align: left;
    }

    .navbar-links ul {
        flex-direction: column;
        padding: 0;
    }

    .navbar-links ul li {
        padding: 10px 20px;
    }

    /* Show hamburger icon in mobile view */
    .hamburger {
        display: block;
    }

    .desktop-only {
        display: none; /* Hide wishlist icon in navbar */
    }

    .mobileView {
        display: block;
    }
}

.anchor_tag {
    text-decoration: none;
    color: black;
}
