
/* Center the form in the middle */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("https://nmgprod.s3.amazonaws.com/media/files/77/79/777972aa95a5599e872d727616925b9d/cover_image_1698325190.jpeg")
    no-repeat center/cover;
}

/* Form Container Style */
.form-container {
  background: rgba(255, 255, 255, 0.6); /* Slight transparency */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  position: absolute;
  right: 100px;
  top: 100px;
  background: rgb(199, 170, 25);
  background: linear-gradient(
    rgba(23, 235, 249, 1) 15% rgba(81, 63, 71, 1) 100%
  );
  h2 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    font-size: 20px;
  }
  .form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    letter-spacing: 1px;
    a {
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Basic Input Field Style */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Button Style */
button {
  width: 100%;
  padding: 10px;
  background-color: #2e060a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  color: black;
  font-weight: 700;
}

/* Error message style */
.error {
  color: #bb2124;
  font-size: 0.9em;
}
