<footer class="footer">
    <div class="footer-container">
        <div class="footer-section logo-section">
            <div class="navbar-brand">
                <a routerLink="/">MyStore</a>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, voluptatem?</p>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Instagram</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">LinkedIn</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>Email: support&#64;gmail.com</p>
            <p>Phone: +1 (800) 123-4567</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 MyStore E-commerce Store. All Rights Reserved.</p>
    </div>
</footer>
