<div class="order-detail-container">
    <div class="header-flex-box">
        <h2>Order Details</h2>
        <div class="invoice">
            <button class="invoice-button" (click)="viewInvoice()">
                <i class="fa fa-eye"></i> View Invoice
            </button>
        </div>
    </div>

    <div class="order-grid-box">
        <!-- Order Summary -->
        <div class="order-summary">
            <p><strong>Order ID:</strong> {{ orderDetailData?._id }}</p>
            <p><strong>Status:</strong> {{ orderDetailData?.orderStatus }}</p>
            <p>
                <strong>Order Date:</strong>
                {{ orderDetailData?.createdAt | date : "medium" }}
            </p>
        </div>

        <!-- Payment Details -->
        <div class="payment-details">
            <h3>Payment Information</h3>
            <p>
                <strong>Transaction ID:</strong>
                {{ orderDetailData?.paymentDetails?.transactionId }}
            </p>
            <p>
                <strong>Amount Paid:</strong>
                {{ orderDetailData?.paymentDetails?.amount | currency }}
            </p>
            <p>
                <strong>Currency:</strong>
                {{ orderDetailData?.paymentDetails?.currency | uppercase }}
            </p>
            <p>
                <strong>Status:</strong>
                {{ orderDetailData?.paymentDetails?.status }}
            </p>
        </div>

        <!-- User Details -->
        <div class="user-info">
            <h3>User Information</h3>
            <p><strong>Email:</strong> {{ orderDetailData?.user?.email }}</p>
        </div>

        <!-- Delivery Address -->
        <div class="delivery-address">
            <h3>Delivery Address</h3>
            <p>
                {{ orderDetailData?.deliveryAddress?.street }},
                {{ orderDetailData?.deliveryAddress?.city }},
                {{ orderDetailData?.deliveryAddress?.state }}
            </p>
        </div>
    </div>
    <!-- Order Items -->
    <div class="order-items">
        <h3>Ordered Items</h3>
        <div *ngFor="let item of orderDetailData?.items" class="order-item">
            <img
                [src]="item.product?.images[0]"
                alt="{{ item.name }}"
                class="product-image"
            />
            <div class="item-details">
                <p><strong>Product:</strong> {{ item.name }}</p>
                <p><strong>Brand:</strong> {{ item.product?.brand }}</p>
                <p><strong>Price:</strong> {{ item.price | currency }}</p>
                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
            </div>
        </div>
    </div>

    <!-- Invoice Button -->
</div>
