.order-detail-container {
    .header-flex-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
    }
    max-width: 90%;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    .order-grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

h3 {
    color: #333;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}
.order-summary,
.payment-details,
.user-info,
.delivery-address {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background: #f9f9f9;
    line-height: 2;
}

.order-items {
    margin-top: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    line-height: 2;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 5px;
}

.item-details {
    flex: 1;
}

.invoice-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.invoice-button:hover {
    background-color: #0056b3;
}
