<div class="forgot-password-container">
    <div class="form-container">
        <!-- Email Entry Form -->
        <div *ngIf="!isEmailSubmitted">
            <h2>Forgot Password</h2>
            <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
                <div>
                    <label for="email">Enter your Email</label>
                    <input id="email" type="email" formControlName="email" />
                    <div
                        *ngIf="
                            emailForm.get('email')?.invalid &&
                            emailForm.get('email')?.touched
                        "
                    >
                        <small>Email is required and should be valid.</small>
                    </div>
                </div>

                <button
                    type="submit"
                    [disabled]="emailForm.invalid"
                >
                    Send OTP
                </button>

                <div *ngIf="errorMessage" class="error">
                    <p>{{ errorMessage }}</p>
                </div>
                <div>
                    want to Login
                    <a routerLink="/login"> Login ?</a>
                </div>
            </form>
        </div>
        <div *ngIf="isEmailSubmitted">
            <h2>Reset Your Password</h2>
            <form [formGroup]="otpForm" (ngSubmit)="onPasswordSubmit()">
                <div>
                    <label for="newPassword">New Password</label>
                    <input
                        id="newPassword"
                        type="password"
                        formControlName="newPassword"
                    />
                    <div
                        *ngIf="
                            otpForm.get('newPassword')?.invalid &&
                            otpForm.get('newPassword')?.touched
                        "
                    >
                        <small
                            >Password is required and should be at least 6
                            characters.</small
                        >
                    </div>
                </div>

                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                        id="confirmPassword"
                        type="password"
                        formControlName="confirmPassword"
                    />
                    <div
                        *ngIf="
                            otpForm.get('confirmPassword')?.invalid &&
                            otpForm.get('confirmPassword')?.touched
                        "
                    >
                        <small
                            >Confirm Password is required and should be at least
                            6 characters.</small
                        >
                    </div>
                </div>

                <button type="submit" [disabled]="otpForm.invalid">
                    Reset Password
                </button>

                <div *ngIf="errorMessage" class="error">
                    <p>{{ errorMessage }}</p>
                </div>
            </form>

            <div class="resend-options">
                <button class="btn-css" (click)="onResetEmail()">
                    Reset Email
                </button>
            </div>
        </div>
    </div>
</div>
