.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://nmgprod.s3.amazonaws.com/media/files/77/79/777972aa95a5599e872d727616925b9d/cover_image_1698325190.jpeg")
      no-repeat center/cover;
  }

  .form-container {
    background: rgba(255, 255, 255, 0.6); /* Slight transparency */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    position: absolute;
    right: 100px;
    top: 100px;
    background: rgb(199, 170, 25);
    background: linear-gradient(
      rgba(23, 235, 249, 1) 15% rgba(81, 63, 71, 1) 100%
    );
    h2 {
        text-align: center;
        color: #000;
        margin-bottom: 20px;
      }
    label {
        font-weight: bold;
        font-size: 20px;
      }
      a {
        color: #007bff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
  
  input:focus {
    border-color: #007bff;
  }
  
  small {
    color: red;
  }
  .otp-box{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .otp-box input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .resend-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .resend-options button {
    background-color: #f0ad4e;
  }
  
  .resend-options button:hover {
    background-color: #ec971f;
  }

  .otpError{
    color: #bb2124;
    font-size: 0.9em;
    p{
        text-align: center;
    }
  }
  .success{
    color: green;
    font-size: 0.9em;
    
  }

  .error {
    color: #bb2124;
    font-size: 0.9em;
  }
  
  