.forgot-password-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../../../../public/background.jpg") no-repeat
        center/cover;
}

.form-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    max-width: 100%;
    margin-right: 10%   ;
 
    h2 {
        text-align: center;
        color: #ff3f6c;
        margin-bottom: 20px;
    }
    label {
        font-weight: bold;
        font-size: 20px;
        color: #ff3f6c;
    }
    a {
        color: #ff3f6c;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    padding: 10px;
    background-color: #ff3f6c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid black;
}
input:focus-visible {
    outline: 1px solid #ff3f6c !important ;
    border: none;
}

small {
    color: red;
}
.otp-box {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.otp-box input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resend-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.otpError {
    color: #bb2124;
    font-size: 0.9em;
    p {
        text-align: center;
    }
}
.success {
    color: green;
    font-size: 0.9em;
}

.error {
    color: #bb2124;
    font-size: 0.9em;
}



@media (max-width: 768px) {
    .forgot-password-container {
        background: url("../../../../../public/background.jpg") no-repeat
            left/cover;
        background-position: 25%;
    }
    .form-container {
        width: 40%;
        margin-right: 5%;
    }
}
@media (max-width: 425px) {
    .forgot-password-container {
        background: url("../../../../../public/background.jpg") no-repeat cover;
        background-position-x: -400px;
    }
    .form-container {
        width: 95%;
        margin-right: 5%;
        margin: auto;
    }
}