<div class="forgot-password-container">
  <div class="form-container">
    <!-- Email Entry Form -->
    <div *ngIf="!isEmailSubmitted">
      <h2>Forgot Password</h2>
      <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
        <div>
          <label for="email">Enter your Email</label>
          <input id="email" type="email" formControlName="email" />
          <div
            *ngIf="
              emailForm.get('email')?.invalid && emailForm.get('email')?.touched
            "
          >
            <small>Email is required and should be valid.</small>
          </div>
        </div>

        <button type="submit" [disabled]="emailForm.invalid || isLoading">
          Send OTP
        </button>

        <div *ngIf="errorMessage" class="error">
          <p>{{ errorMessage }}</p>
        </div>
        <div>
          want to Login
          <a routerLink="/login"> Login ?</a>
        </div>
      </form>
    </div>

    <!-- OTP and Password Reset Form -->
    <div *ngIf="isEmailSubmitted && otpSent">
      <h2>Enter OTP and New Password</h2>
      <form [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
        <div class="otp-inputs">
          <label for="otp">Enter OTP</label>
          <div class="otp-box">
            <input
              id="otp1"
              type="text"
              formControlName="otp1"
              maxlength="1"
              (keydown)="moveFocus($event, 'otp2', '')"
            />
            <input
              id="otp2"
              type="text"
              formControlName="otp2"
              maxlength="1"
              (keydown)="moveFocus($event, 'otp3', 'otp1')"
            />
            <input
              id="otp3"
              type="text"
              formControlName="otp3"
              maxlength="1"
              (keydown)="moveFocus($event, 'otp4', 'otp2')"
            />
            <input
              id="otp4"
              type="text"
              formControlName="otp4"
              maxlength="1"
              (keydown)="moveFocus($event, '', 'otp3')"
            />
          </div>
          <div class="otpError" *ngIf="otpErrorMessage">
            <p>{{ otpErrorMessage }}</p>
          </div>
        </div>

        <div>
          <label for="newPassword">New Password</label>
          <input
            id="newPassword"
            type="password"
            formControlName="newPassword"
          />
          <div
            *ngIf="
              otpForm.get('newPassword')?.invalid &&
              otpForm.get('newPassword')?.touched
            "
          >
            <small
              >Password is required and should be at least 6 characters.</small
            >
          </div>
        </div>

        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              otpForm.get('confirmPassword')?.invalid &&
              otpForm.get('confirmPassword')?.touched
            "
          >
            <small
              >Confirm Password is required and should be at least 6
              characters.</small
            >
          </div>
        </div>

        <button type="submit" [disabled]="otpForm.invalid || isLoading">
          Reset Password
        </button>

        <div *ngIf="errorMessage" class="error">
          <p>{{ errorMessage }}</p>
        </div>
      </form>

      <div class="resend-options">
        <button (click)="onResendOtp()">Resend OTP</button>
        <button (click)="onResetEmail()">Reset Email</button>
      </div>
    </div>
  </div>
</div>
